<!DOCTYPE html>
<html>

  {% include head.html %}
	<style>
	  header {display:none;}
	</style>
    <body id="page-top" class="index">
    {% include header.html %}
	<div class="container" style="margin-top:100px;">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ page.title }}</h2>
                            <hr class="star-primary">
                            <img src="{{ page.image }}" class="img-responsive img-centered" alt="{{ page.alt }}">
                            <div>{{ page.description }}</div>
							<div>{{ page.content }}</div>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">{{ page.client }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">{{ page.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">{{ page.category }}</a>
                                    </strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

    </body>
</html>
